:root {
  --main-color: #f0db4f;
  --second-color: #323330;
  --code-font: "Courier New", Courier, monospace;
  font-size: 16px;
  --pong-font: "VT323", monospace;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.title {
  color: var(--main-color);
}
.form-regexp,
.test-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: fit-content;
  margin: 1rem auto;
  font-size: 16px;
}
button {
  margin: 0.5rem 0.5rem;
}
.button {
  margin: 1rem 1rem;
}
.test-result {
  margin: 2rem 0;
  border: 1px solid #111111;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
.semaforo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.semaforo img {
  max-width: 20rem;
}
.test-result-red {
  color: #cc2211;
  margin: 0;
  padding: 0;
}
.codes {
  margin: 0.75rem 0;
  border: 1px solid #111111;
  border-radius: 0.5rem;
  padding: 0.75rem;
}
.codes h3 {
  color: var(--main-color);
}
.codes p {
  font-family: var(--code-font);
}
/*  - - - Rubik - Array - - -  */
.rubik {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(4, 8rem);
}
.rubik-buttons {
  display: flex;
  /* align-items: end; */
  flex-direction: column;
  justify-content: end;
}
.rubik button {
  font-size: 0.7rem;
}
.cube-faces {
  border: 1.5px solid #888;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.front {
  border: 3px dashed #aaa;
}
.cube-color-red {
  background-color: #cc2211;
}
.cube-color-green {
  background-color: #0a0;
}
.cube-color-blue {
  background-color: #00f;
}
.cube-color-yellow {
  background-color: #dd0;
}
.cube-color-orange {
  background-color: #a60;
}
.cube-color-white {
  background-color: #fff;
}

/*  - - - Pong - Functions - - -  */
.pong-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22rem;
  height: 15rem;
  background-color: #111111;
  border-radius: 1rem;
}
.pong-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pong-game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  height: 100%;
  border: 10px solid #fff;
  border-radius: 1rem;
}
.pong-display {
  background-color: #111111;
  position: relative;
  top: -1rem;
  width: 6rem;
}
.pong-display h2 {
  padding: 0;
  margin: 0;
  font-family: var(--pong-font);
}
.pong-red {
  z-index: 9;
  width: 1rem;
  height: 10rem;
  border: 4px dashed #fff;
  margin: 0;
  padding: 0;
}
.pong-positions-grid {
  position: relative;
  top: -0.75rem;
  z-index: 10;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: repeat(7, 1fr);
  height: 9rem;
  width: 95%;
  background-color: transparent;
  padding: 0 0.25rem;
}
.posMaq1,
.posMaq2,
.posMaq3,
.posMaq4,
.posMaq5,
.posMaq6,
.posMaq7,
.posUser1,
.posUser2,
.posUser3,
.posUser4,
.posUser5,
.posUser6,
.posUser7 {
  color: transparent;
}

.ball {
  position: relative;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 2s ease-in-out;
}
